:root {
  --background: #f6f7f8;
  --accent: #1199ee;
  --font-alt: "Anonymous Pro", Arial, Helvetica, sans-serif;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2vw 5vw;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}

main {
  margin: 7vw 12vw 2vw;
  padding-top: 28px;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 9vw 0;
  }
}

@media (spanning: single-fold-vertical) {
  main {
    margin: 7vw 5vw 2vw;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

mark {
  font-weight: 700;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  grid-gap: 2rem;
}

@media (spanning: single-fold-vertical) and (min-width: 1114px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (spanning: single-fold-vertical) and (min-width: 1440px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

a {
  color: black;
  text-decoration: none;
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.card {
  box-shadow: none;
  transition: 0.35s ease;
  padding: 32px;
}

.card:hover {
  transform: translate(0, -4px);
  background-color: white;
  cursor: pointer;
}

.card:hover hr {
  opacity: 0.5;
  border-top: 1px solid var(--accent);
}

.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 0 12px 40px 2px rgba(0, 0, 0, 0.05);
  transition: 0.35s ease;
}

.card:hover::after {
  opacity: 1;
}

.card span {
  opacity: 0.6;
}

.card hr {
  border: 0;
  height: 0;
  border-top: 1px solid black;
  opacity: 0;
  transition: 0.35s ease;
}

.card h2 {
  font-weight: 700;
}

.card p {
  font-family: var(--font-alt);
  line-height: 1.6rem;
  font-size: 1rem;
}

.card p::first-letter {
  font-size: 200%;
}
